@import '../../layouts/variables.css';

.post-preview {
  display: block;
  text-decoration: none;
  color: inherit;
}

.post-preview__metadata {
  display: block;
  color: var(--text-grey--lighter);
  font-size: 0.75rem;
  font-style: italic;
}

.post-preview__title {
  margin: 0 0 0.5rem;
}

.post-preview__excerpt {
  margin: 0;
}

@media screen and (min-width: 25rem) {
  .post-preview__title {
    margin: 0.5rem 0;
  }
}