@import '../../globals/variables.css';

.site-header {
  background-color: var(--background-grey);
  border-bottom: 1px solid var(--border-grey);
}

.site-header__nav {
  max-width: var(--body-max-width);
  margin: 0 auto;
  padding: 1rem var(--spacing--small);
}

.site-header__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  font-weight: bold;
}

.site-header__logo {
  font-family: Lora;
  height: 2rem;
}

@media screen and (min-width: 37.5em) {
  .site-header {
    top: 0;
    position: fixed;
    width: 100%;
  }
  .site-header__nav {
    padding: 1rem var(--spacing--large);
  }
}
