@import '../../globals/variables.css';

.time-to-read {
  float: right;
  font-size: 0.75em;
  margin-top: -1.25em;
  margin-bottom: 0;
}

@media (min-width: 37.5em) {
  .time-to-read {
    float: none;
    position: sticky;
    top: 1.5rem;
    z-index: 2; /* Needed to sit on top of prism styles */
    margin-left: 16rem;
  }
}

@media screen and (min-width: 60em) {
  .time-to-read {
    top: 1.4rem;
    margin-left: 25em;
  }
}