@import 'https://fonts.googleapis.com/css?family=Lora:700|Open+Sans:300,600';
@import '../globals/variables.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans',sans-serif;
  color: var(--text-grey);
  font-size: 16px;
  font-weight: 300;
}

strong, b {
  font-weight: 600;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.4;
}

li {
  margin-top: 1rem;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  font-family: Lora, serif;
}

a {
  color: var(--blue);
}

code {
  word-break: break-all
}

.site-body {
  max-width: var(--body-max-width);
  margin: 0 auto;
  padding: var(--spacing--small);
}

.site-heading {
  margin-top: 0;
}

.site-intro {
  margin-top: 0;
}

@media screen and (min-width: 30em) {
  body {
    font-size: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
  }

  h1 {
    font-size: 2.5em;
  } 
  
  h2 {
    font-size: 2em;
  } 
  
  h3 {
    font-size: 1.5em;
  } 
  
  h4 {
    font-size: 1.25em;
  }

  pre {
    font-size: 14px;
  }

  .site-body {
    padding: var(--spacing--large);
  }

  .site-intro {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 37.5em) {
  .site-body {
    margin-top: 4.25rem;
  }
}

@media screen and (min-width: 60em) {
  body {
    font-size: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.25em;
  }

  h1 {
    font-size: 3em;
  }

  p, li {
    line-height: 1.5;
  }
  
  pre {
    font-size: 14px;
  }
}